In [1]:
import pandas as pd
import numpy as np

### 目标：提供历史库存量、需求量、预测未来3月 需求量。

In [2]:
df = pd.read_csv('./data/demand_train.csv')
df

                        过账日期   需求量  工厂编码  物料编码  物料品牌  物料类型  物料品类
0        2018-01-06 00:00:00  0.33  2004  1000  5000  3002  4014
1        2018-01-08 00:00:00  0.09  2010  1000  5000  3002  4014
2        2018-01-09 00:00:00  0.09  2008  1000  5000  3002  4014
3        2018-01-10 00:00:00  0.10  2010  1000  5000  3002  4014
4        2018-01-11 00:00:00  0.17  2004  1000  5000  3002  4014
...                      ...   ...   ...   ...   ...   ...   ...
1183590  2020-11-24 00:00:00  0.04  2012  1054  5001  3002  4010
1183591  2020-11-24 00:00:00  0.04  2013  1054  5001  3002  4010
1183592  2020-11-24 00:00:00  0.04  2006  1051  5001  3002  4013
1183593  2020-11-24 00:00:00  0.04  2008  1051  5001  3002  4013
1183594  2020-11-24 00:00:00  0.04  2005  1131  5001  3003  4022

[1183595 rows x 7 columns]

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1183595 entries, 0 to 1183594
Data columns (total 7 columns):
 #   Column  Non-Null Count    Dtype
---  ------  --------------    -----
 0   过账日期    1183595 non-null  object
 1   需求量     1183595 non-null  float64
 2   工厂编码    1183595 non-null  int64
 3   物料编码    1183595 non-null  int64
 4   物料品牌    1183595 non-null  int64
 5   物料类型    1183595 non-null  int64
 6   物料品类    1183595 non-null  int64
dtypes: float64(1), int64(5), object(1)
memory usage: 63.2+ MB

In [11]:
type(df['过账日期'][0])

str

In [5]:
df['过账日期'].nunique()

1050

In [3]:
df_stock = pd.read_csv('./data/stock_train.csv')
df_stock

             过账日期  工厂编码  物料编码  物料品牌  物料类型  物料品类     库存量
0      2018-01-24  2000  1001  5000  3002  4006    2.71
1      2018-01-24  2000  1003  5000  3002  4005    6.84
2      2018-01-24  2000  1014  5000  3002  4008    1.28
3      2018-01-24  2000  1021  5000  3002  4006    1.04
4      2018-01-24  2000  1027  5001  3002  4014    2.63
...           ...   ...   ...   ...   ...   ...     ...
14926  2020-11-24  2015  1089  5010  3002  4013   39.73
14927  2020-11-24  2015  1090  5010  3002  4006    5.14
14928  2020-11-24  2015  1091  5010  3002  4010  229.55
14929  2020-11-24  2015  1252  5001  3002  4013    5.88
14930  2020-11-24  2015  1253  5000  3002  4013    2.09

[14931 rows x 7 columns]

In [12]:
df_stock.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14931 entries, 0 to 14930
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   过账日期    14931 non-null  object
 1   工厂编码    14931 non-null  int64
 2   物料编码    14931 non-null  int64
 3   物料品牌    14931 non-null  int64
 4   物料类型    14931 non-null  int64
 5   物料品类    14931 non-null  int64
 6   库存量     14931 non-null  float64
dtypes: float64(1), int64(5), object(1)
memory usage: 816.7+ KB

In [23]:
df_stock['过账日期'].unique()

array(['2018-01-24', '2018-02-24', '2018-03-24', '2018-04-24',
       '2018-05-24', '2018-06-24', '2018-07-24', '2018-08-24',
       '2018-09-24', '2018-10-24', '2018-11-24', '2018-12-24',
       '2019-01-24', '2019-02-24', '2019-03-24', '2019-04-24',
       '2019-05-24', '2019-06-24', '2019-07-24', '2019-08-24',
       '2019-09-24', '2019-10-24', '2019-11-24', '2019-12-24',
       '2020-01-24', '2020-02-24', '2020-03-24', '2020-04-24',
       '2020-05-24', '2020-06-24', '2020-07-24', '2020-08-24',
       '2020-09-24', '2020-10-24', '2020-11-24'], dtype=object)

### 第一步，按照 df_stock 的日期，对 df 进行切分，然后再汇总

In [24]:
df_copy = df.copy()

In [26]:
df_copy['过账日期'] = df_copy['过账日期'].map(lambda x:x[:10])

In [27]:
df_1 = pd.DataFrame()
for data in df_stock['过账日期'].unique():
    df_s = df_copy[df_copy['过账日期'] <= data]
    df_copy = df_copy[df_copy['过账日期'] > data]
    df_s['过账日期_汇总'] = data
    df_1 = pd.concat([df_1, df_s])

df_1.shape

(1183595, 8)

In [35]:
df_1[df_1['过账日期_汇总'] == '2018-02-24']['过账日期'].max()

'2018-02-24'

In [36]:
df_1.head()

         过账日期   需求量  工厂编码  物料编码  物料品牌  物料类型  物料品类     过账日期_汇总
0  2018-01-06  0.33  2004  1000  5000  3002  4014  2018-01-24
1  2018-01-08  0.09  2010  1000  5000  3002  4014  2018-01-24
2  2018-01-09  0.09  2008  1000  5000  3002  4014  2018-01-24
3  2018-01-10  0.10  2010  1000  5000  3002  4014  2018-01-24
4  2018-01-11  0.17  2004  1000  5000  3002  4014  2018-01-24

In [37]:
df_1[['工厂编码','物料编码','物料品牌','物料类型','物料品类']].apply(lambda x:x.nunique())

工厂编码     16
物料编码    294
物料品牌     12
物料类型      5
物料品类     24
dtype: int64

In [38]:
df[['工厂编码','物料编码','物料品牌','物料类型','物料品类']].apply(lambda x:x.nunique())

工厂编码     16
物料编码    294
物料品牌     12
物料类型      5
物料品类     24
dtype: int64

In [39]:
df_stock[['工厂编码','物料编码','物料品牌','物料类型','物料品类']].apply(lambda x:x.nunique())

工厂编码     16
物料编码    294
物料品牌     12
物料类型      5
物料品类     24
dtype: int64

In [45]:
df_1.groupby(['工厂编码','物料编码']).ngroups

962

In [46]:
df_1.head(1)

         过账日期   需求量  工厂编码  物料编码  物料品牌  物料类型  物料品类     过账日期_汇总
0  2018-01-06  0.33  2004  1000  5000  3002  4014  2018-01-24

In [49]:
df_2 = df_1.groupby(['工厂编码','物料编码','物料品牌','物料类型','物料品类','过账日期_汇总'])['需求量'].agg('sum').reset_index()
df_2.head()

   工厂编码  物料编码  物料品牌  物料类型  物料品类     过账日期_汇总    需求量
0  2000  1001  5000  3002  4006  2018-01-24  12.53
1  2000  1001  5000  3002  4006  2018-02-24  16.08
2  2000  1001  5000  3002  4006  2018-03-24   4.71
3  2000  1001  5000  3002  4006  2018-04-24  12.70
4  2000  1001  5000  3002  4006  2018-05-24  12.96

In [50]:
df_stock.head()

         过账日期  工厂编码  物料编码  物料品牌  物料类型  物料品类   库存量
0  2018-01-24  2000  1001  5000  3002  4006  2.71
1  2018-01-24  2000  1003  5000  3002  4005  6.84
2  2018-01-24  2000  1014  5000  3002  4008  1.28
3  2018-01-24  2000  1021  5000  3002  4006  1.04
4  2018-01-24  2000  1027  5001  3002  4014  2.63

In [53]:
df_stock.rename(columns={'过账日期':'过账日期_汇总'}, inplace=True)

In [52]:
df_2.shape, df_stock.shape

((15036, 7), (14931, 7))

In [84]:
df_3 = pd.merge(df_2, df_stock, how ='left')
df_3

       工厂编码  物料编码  物料品牌  物料类型  物料品类     过账日期_汇总    需求量    库存量
0      2000  1001  5000  3002  4006  2018-01-24  12.53   2.71
1      2000  1001  5000  3002  4006  2018-02-24  16.08   4.25
2      2000  1001  5000  3002  4006  2018-03-24   4.71   0.98
3      2000  1001  5000  3002  4006  2018-04-24  12.70   3.86
4      2000  1001  5000  3002  4006  2018-05-24  12.96   1.69
...     ...   ...   ...   ...   ...         ...    ...    ...
15031  2015  1253  5000  3002  4013  2020-09-24  19.17   3.39
15032  2015  1253  5000  3002  4013  2020-10-24  20.12   7.18
15033  2015  1253  5000  3002  4013  2020-11-24  21.08   2.09
15034  2015  1255  5001  3002  4013  2020-03-24  48.20  15.91
15035  2015  1255  5001  3002  4013  2020-04-24  31.32   2.50

[15036 rows x 8 columns]

**排序**

In [85]:
df_3 = df_3.sort_values(['工厂编码','物料编码','物料品牌','物料类型','物料品类','过账日期_汇总'])
df_3.head(3)

   工厂编码  物料编码  物料品牌  物料类型  物料品类     过账日期_汇总    需求量   库存量
0  2000  1001  5000  3002  4006  2018-01-24  12.53  2.71
1  2000  1001  5000  3002  4006  2018-02-24  16.08  4.25
2  2000  1001  5000  3002  4006  2018-03-24   4.71  0.98

In [86]:
df_3.head(3).append(df_3.tail(3))

       工厂编码  物料编码  物料品牌  物料类型  物料品类     过账日期_汇总    需求量    库存量
0      2000  1001  5000  3002  4006  2018-01-24  12.53   2.71
1      2000  1001  5000  3002  4006  2018-02-24  16.08   4.25
2      2000  1001  5000  3002  4006  2018-03-24   4.71   0.98
15033  2015  1253  5000  3002  4013  2020-11-24  21.08   2.09
15034  2015  1255  5001  3002  4013  2020-03-24  48.20  15.91
15035  2015  1255  5001  3002  4013  2020-04-24  31.32   2.50

**库存量有缺失值.**

In [88]:
df_3['库存量'] = df_3['库存量'].fillna(0)

In [89]:
df_3['上月库存余量'] = df_3.groupby(['工厂编码','物料编码','物料品牌','物料类型','物料品类']).apply(lambda x\
                                                         :x['库存量'].shift(1) ).reset_index(drop=True).fillna(0)
df_3

       工厂编码  物料编码  物料品牌  物料类型  物料品类     过账日期_汇总    需求量    库存量  上月库存余量
0      2000  1001  5000  3002  4006  2018-01-24  12.53   2.71    0.00
1      2000  1001  5000  3002  4006  2018-02-24  16.08   4.25    2.71
2      2000  1001  5000  3002  4006  2018-03-24   4.71   0.98    4.25
3      2000  1001  5000  3002  4006  2018-04-24  12.70   3.86    0.98
4      2000  1001  5000  3002  4006  2018-05-24  12.96   1.69    3.86
...     ...   ...   ...   ...   ...         ...    ...    ...     ...
15031  2015  1253  5000  3002  4013  2020-09-24  19.17   3.39    1.86
15032  2015  1253  5000  3002  4013  2020-10-24  20.12   7.18    3.39
15033  2015  1253  5000  3002  4013  2020-11-24  21.08   2.09    7.18
15034  2015  1255  5001  3002  4013  2020-03-24  48.20  15.91    0.00
15035  2015  1255  5001  3002  4013  2020-04-24  31.32   2.50   15.91

[15036 rows x 9 columns]

In [90]:
df_3['当月实际需求量'] = df_3['需求量'] + df_3['上月库存余量'] - df_3['库存量']
df_3

       工厂编码  物料编码  物料品牌  物料类型  物料品类     过账日期_汇总    需求量    库存量  上月库存余量  当月实际需求量
0      2000  1001  5000  3002  4006  2018-01-24  12.53   2.71    0.00     9.82
1      2000  1001  5000  3002  4006  2018-02-24  16.08   4.25    2.71    14.54
2      2000  1001  5000  3002  4006  2018-03-24   4.71   0.98    4.25     7.98
3      2000  1001  5000  3002  4006  2018-04-24  12.70   3.86    0.98     9.82
4      2000  1001  5000  3002  4006  2018-05-24  12.96   1.69    3.86    15.13
...     ...   ...   ...   ...   ...         ...    ...    ...     ...      ...
15031  2015  1253  5000  3002  4013  2020-09-24  19.17   3.39    1.86    17.64
15032  2015  1253  5000  3002  4013  2020-10-24  20.12   7.18    3.39    16.33
15033  2015  1253  5000  3002  4013  2020-11-24  21.08   2.09    7.18    26.17
15034  2015  1255  5001  3002  4013  2020-03-24  48.20  15.91    0.00    32.29
15035  2015  1255  5001  3002  4013  2020-04-24  31.32   2.50   15.91    44.73

[15036 rows x 10 columns]

## 接下来，我以预测“当月实际需求量”为目标。 预测完之后，当月实际需求量 + 库存量 - 上月库存余量， 就可以得到 需求量！

In [91]:
df_3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15036 entries, 0 to 15035
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   工厂编码     15036 non-null  int64
 1   物料编码     15036 non-null  int64
 2   物料品牌     15036 non-null  int64
 3   物料类型     15036 non-null  int64
 4   物料品类     15036 non-null  int64
 5   过账日期_汇总  15036 non-null  object
 6   需求量      15036 non-null  float64
 7   库存量      15036 non-null  float64
 8   上月库存余量   15036 non-null  float64
 9   当月实际需求量  15036 non-null  float64
dtypes: float64(4), int64(5), object(1)
memory usage: 1.3+ MB

In [92]:
df_3.describe()

,工厂编码,物料编码,物料品牌,物料类型,物料品类,需求量,库存量,上月库存余量,当月实际需求量
count,15036.000000,15036.000000,15036.000000,15036.000000,15036.000000,15036.00000,15036.000000,15036.000000,15036.000000
mean,2006.478119,1084.422785,5002.871309,3002.032256,4010.766627,154.19150,34.664935,33.601423,153.127989
std,4.609758,69.337461,3.631496,0.804764,5.945658,373.99182,84.409341,83.416918,372.300327
min,2000.000000,1000.000000,5000.000000,3000.000000,4000.000000,0.02000,0.000000,0.000000,-2.590000
25%,2002.000000,1037.000000,5001.000000,3002.000000,4006.000000,9.00000,1.897500,1.510000,9.080000
50%,2006.000000,1053.000000,5001.000000,3002.000000,4010.000000,38.00500,8.485000,7.730000,37.915000
75%,2011.000000,1125.000000,5002.000000,3002.000000,4014.000000,133.06000,29.852500,28.792500,131.897500
max,2015.000000,1297.000000,5012.000000,3004.000000,4023.000000,5547.52000,1270.690000,1270.690000,5612.570000