In [1]:
import pandas as pd
import numpy as np

### 目标：提供历史库存量、需求量、预测未来3月 需求量。

In [2]:
df = pd.read_csv('./data/demand_train.csv')
df

                        过账日期   需求量  工厂编码  物料编码  物料品牌  物料类型  物料品类
0        2018-01-06 00:00:00  0.33  2004  1000  5000  3002  4014
1        2018-01-08 00:00:00  0.09  2010  1000  5000  3002  4014
2        2018-01-09 00:00:00  0.09  2008  1000  5000  3002  4014
3        2018-01-10 00:00:00  0.10  2010  1000  5000  3002  4014
4        2018-01-11 00:00:00  0.17  2004  1000  5000  3002  4014
...                      ...   ...   ...   ...   ...   ...   ...
1183590  2020-11-24 00:00:00  0.04  2012  1054  5001  3002  4010
1183591  2020-11-24 00:00:00  0.04  2013  1054  5001  3002  4010
1183592  2020-11-24 00:00:00  0.04  2006  1051  5001  3002  4013
1183593  2020-11-24 00:00:00  0.04  2008  1051  5001  3002  4013
1183594  2020-11-24 00:00:00  0.04  2005  1131  5001  3003  4022

[1183595 rows x 7 columns]

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1183595 entries, 0 to 1183594
Data columns (total 7 columns):
 #   Column  Non-Null Count    Dtype
---  ------  --------------    -----
 0   过账日期    1183595 non-null  object
 1   需求量     1183595 non-null  float64
 2   工厂编码    1183595 non-null  int64
 3   物料编码    1183595 non-null  int64
 4   物料品牌    1183595 non-null  int64
 5   物料类型    1183595 non-null  int64
 6   物料品类    1183595 non-null  int64
dtypes: float64(1), int64(5), object(1)
memory usage: 63.2+ MB

In [4]:
type(df['过账日期'][0])

str

In [5]:
df['过账日期'].nunique()

1050

In [6]:
df_stock = pd.read_csv('./data/stock_train.csv')
df_stock

             过账日期  工厂编码  物料编码  物料品牌  物料类型  物料品类     库存量
0      2018-01-24  2000  1001  5000  3002  4006    2.71
1      2018-01-24  2000  1003  5000  3002  4005    6.84
2      2018-01-24  2000  1014  5000  3002  4008    1.28
3      2018-01-24  2000  1021  5000  3002  4006    1.04
4      2018-01-24  2000  1027  5001  3002  4014    2.63
...           ...   ...   ...   ...   ...   ...     ...
14926  2020-11-24  2015  1089  5010  3002  4013   39.73
14927  2020-11-24  2015  1090  5010  3002  4006    5.14
14928  2020-11-24  2015  1091  5010  3002  4010  229.55
14929  2020-11-24  2015  1252  5001  3002  4013    5.88
14930  2020-11-24  2015  1253  5000  3002  4013    2.09

[14931 rows x 7 columns]

In [7]:
df_stock.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14931 entries, 0 to 14930
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   过账日期    14931 non-null  object
 1   工厂编码    14931 non-null  int64
 2   物料编码    14931 non-null  int64
 3   物料品牌    14931 non-null  int64
 4   物料类型    14931 non-null  int64
 5   物料品类    14931 non-null  int64
 6   库存量     14931 non-null  float64
dtypes: float64(1), int64(5), object(1)
memory usage: 816.7+ KB

In [8]:
df_stock['过账日期'].unique()

array(['2018-01-24', '2018-02-24', '2018-03-24', '2018-04-24',
       '2018-05-24', '2018-06-24', '2018-07-24', '2018-08-24',
       '2018-09-24', '2018-10-24', '2018-11-24', '2018-12-24',
       '2019-01-24', '2019-02-24', '2019-03-24', '2019-04-24',
       '2019-05-24', '2019-06-24', '2019-07-24', '2019-08-24',
       '2019-09-24', '2019-10-24', '2019-11-24', '2019-12-24',
       '2020-01-24', '2020-02-24', '2020-03-24', '2020-04-24',
       '2020-05-24', '2020-06-24', '2020-07-24', '2020-08-24',
       '2020-09-24', '2020-10-24', '2020-11-24'], dtype=object)

### 第一步，按照 df_stock 的日期，对 df 进行切分，然后再汇总

In [9]:
df_copy = df.copy()

In [10]:
df_copy['过账日期'] = df_copy['过账日期'].map(lambda x:x[:10])

In [11]:
df_1 = pd.DataFrame()
for data in df_stock['过账日期'].unique():
    df_s = df_copy[df_copy['过账日期'] <= data]
    df_copy = df_copy[df_copy['过账日期'] > data]
    df_s['过账日期_汇总'] = data
    df_1 = pd.concat([df_1, df_s])

df_1.shape

(1183595, 8)

In [12]:
df_1[df_1['过账日期_汇总'] == '2018-02-24']['过账日期'].max()

'2018-02-24'

In [13]:
df_1.head()

         过账日期   需求量  工厂编码  物料编码  物料品牌  物料类型  物料品类     过账日期_汇总
0  2018-01-06  0.33  2004  1000  5000  3002  4014  2018-01-24
1  2018-01-08  0.09  2010  1000  5000  3002  4014  2018-01-24
2  2018-01-09  0.09  2008  1000  5000  3002  4014  2018-01-24
3  2018-01-10  0.10  2010  1000  5000  3002  4014  2018-01-24
4  2018-01-11  0.17  2004  1000  5000  3002  4014  2018-01-24

In [14]:
df_1[['工厂编码','物料编码','物料品牌','物料类型','物料品类']].apply(lambda x:x.nunique())

工厂编码     16
物料编码    294
物料品牌     12
物料类型      5
物料品类     24
dtype: int64

In [15]:
df[['工厂编码','物料编码','物料品牌','物料类型','物料品类']].apply(lambda x:x.nunique())

工厂编码     16
物料编码    294
物料品牌     12
物料类型      5
物料品类     24
dtype: int64

In [16]:
df_stock[['工厂编码','物料编码','物料品牌','物料类型','物料品类']].apply(lambda x:x.nunique())

工厂编码     16
物料编码    294
物料品牌     12
物料类型      5
物料品类     24
dtype: int64

In [17]:
df_1.groupby(['工厂编码','物料编码']).ngroups

962

In [18]:
df_1.head(1)

         过账日期   需求量  工厂编码  物料编码  物料品牌  物料类型  物料品类     过账日期_汇总
0  2018-01-06  0.33  2004  1000  5000  3002  4014  2018-01-24

In [19]:
df_2 = df_1.groupby(['工厂编码','物料编码','物料品牌','物料类型','物料品类','过账日期_汇总'])['需求量'].agg('sum').reset_index()
df_2.head()

   工厂编码  物料编码  物料品牌  物料类型  物料品类     过账日期_汇总    需求量
0  2000  1001  5000  3002  4006  2018-01-24  12.53
1  2000  1001  5000  3002  4006  2018-02-24  16.08
2  2000  1001  5000  3002  4006  2018-03-24   4.71
3  2000  1001  5000  3002  4006  2018-04-24  12.70
4  2000  1001  5000  3002  4006  2018-05-24  12.96

In [20]:
df_stock.head()

         过账日期  工厂编码  物料编码  物料品牌  物料类型  物料品类   库存量
0  2018-01-24  2000  1001  5000  3002  4006  2.71
1  2018-01-24  2000  1003  5000  3002  4005  6.84
2  2018-01-24  2000  1014  5000  3002  4008  1.28
3  2018-01-24  2000  1021  5000  3002  4006  1.04
4  2018-01-24  2000  1027  5001  3002  4014  2.63

In [21]:
df_stock.rename(columns={'过账日期':'过账日期_汇总'}, inplace=True)

In [22]:
df_2.shape, df_stock.shape

((15036, 7), (14931, 7))

In [23]:
df_3 = pd.merge(df_2, df_stock, how ='left')
df_3

       工厂编码  物料编码  物料品牌  物料类型  物料品类     过账日期_汇总    需求量    库存量
0      2000  1001  5000  3002  4006  2018-01-24  12.53   2.71
1      2000  1001  5000  3002  4006  2018-02-24  16.08   4.25
2      2000  1001  5000  3002  4006  2018-03-24   4.71   0.98
3      2000  1001  5000  3002  4006  2018-04-24  12.70   3.86
4      2000  1001  5000  3002  4006  2018-05-24  12.96   1.69
...     ...   ...   ...   ...   ...         ...    ...    ...
15031  2015  1253  5000  3002  4013  2020-09-24  19.17   3.39
15032  2015  1253  5000  3002  4013  2020-10-24  20.12   7.18
15033  2015  1253  5000  3002  4013  2020-11-24  21.08   2.09
15034  2015  1255  5001  3002  4013  2020-03-24  48.20  15.91
15035  2015  1255  5001  3002  4013  2020-04-24  31.32   2.50

[15036 rows x 8 columns]

**排序**

In [24]:
df_3 = df_3.sort_values(['工厂编码','物料编码','物料品牌','物料类型','物料品类','过账日期_汇总'])
df_3.head(3)

   工厂编码  物料编码  物料品牌  物料类型  物料品类     过账日期_汇总    需求量   库存量
0  2000  1001  5000  3002  4006  2018-01-24  12.53  2.71
1  2000  1001  5000  3002  4006  2018-02-24  16.08  4.25
2  2000  1001  5000  3002  4006  2018-03-24   4.71  0.98

In [25]:
df_3.head(3).append(df_3.tail(3))

       工厂编码  物料编码  物料品牌  物料类型  物料品类     过账日期_汇总    需求量    库存量
0      2000  1001  5000  3002  4006  2018-01-24  12.53   2.71
1      2000  1001  5000  3002  4006  2018-02-24  16.08   4.25
2      2000  1001  5000  3002  4006  2018-03-24   4.71   0.98
15033  2015  1253  5000  3002  4013  2020-11-24  21.08   2.09
15034  2015  1255  5001  3002  4013  2020-03-24  48.20  15.91
15035  2015  1255  5001  3002  4013  2020-04-24  31.32   2.50

**库存量有缺失值.**

In [26]:
df_3['库存量'] = df_3['库存量'].fillna(0)

In [27]:
df_3['上月库存余量'] = df_3.groupby(['工厂编码','物料编码','物料品牌','物料类型','物料品类']).apply(lambda x\
                                                         :x['库存量'].shift(1) ).reset_index(drop=True).fillna(0)
df_3

       工厂编码  物料编码  物料品牌  物料类型  物料品类     过账日期_汇总    需求量    库存量  上月库存余量
0      2000  1001  5000  3002  4006  2018-01-24  12.53   2.71    0.00
1      2000  1001  5000  3002  4006  2018-02-24  16.08   4.25    2.71
2      2000  1001  5000  3002  4006  2018-03-24   4.71   0.98    4.25
3      2000  1001  5000  3002  4006  2018-04-24  12.70   3.86    0.98
4      2000  1001  5000  3002  4006  2018-05-24  12.96   1.69    3.86
...     ...   ...   ...   ...   ...         ...    ...    ...     ...
15031  2015  1253  5000  3002  4013  2020-09-24  19.17   3.39    1.86
15032  2015  1253  5000  3002  4013  2020-10-24  20.12   7.18    3.39
15033  2015  1253  5000  3002  4013  2020-11-24  21.08   2.09    7.18
15034  2015  1255  5001  3002  4013  2020-03-24  48.20  15.91    0.00
15035  2015  1255  5001  3002  4013  2020-04-24  31.32   2.50   15.91

[15036 rows x 9 columns]

In [28]:
df_3['当月实际需求量'] = df_3['需求量'] + df_3['上月库存余量'] - df_3['库存量']
df_3

       工厂编码  物料编码  物料品牌  物料类型  物料品类     过账日期_汇总    需求量    库存量  上月库存余量  当月实际需求量
0      2000  1001  5000  3002  4006  2018-01-24  12.53   2.71    0.00     9.82
1      2000  1001  5000  3002  4006  2018-02-24  16.08   4.25    2.71    14.54
2      2000  1001  5000  3002  4006  2018-03-24   4.71   0.98    4.25     7.98
3      2000  1001  5000  3002  4006  2018-04-24  12.70   3.86    0.98     9.82
4      2000  1001  5000  3002  4006  2018-05-24  12.96   1.69    3.86    15.13
...     ...   ...   ...   ...   ...         ...    ...    ...     ...      ...
15031  2015  1253  5000  3002  4013  2020-09-24  19.17   3.39    1.86    17.64
15032  2015  1253  5000  3002  4013  2020-10-24  20.12   7.18    3.39    16.33
15033  2015  1253  5000  3002  4013  2020-11-24  21.08   2.09    7.18    26.17
15034  2015  1255  5001  3002  4013  2020-03-24  48.20  15.91    0.00    32.29
15035  2015  1255  5001  3002  4013  2020-04-24  31.32   2.50   15.91    44.73

[15036 rows x 10 columns]

## 接下来，我以预测“当月实际需求量”为目标。 预测完之后，当月实际需求量 + 库存量 - 上月库存余量， 就可以得到 需求量！

In [29]:
df_3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15036 entries, 0 to 15035
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   工厂编码     15036 non-null  int64
 1   物料编码     15036 non-null  int64
 2   物料品牌     15036 non-null  int64
 3   物料类型     15036 non-null  int64
 4   物料品类     15036 non-null  int64
 5   过账日期_汇总  15036 non-null  object
 6   需求量      15036 non-null  float64
 7   库存量      15036 non-null  float64
 8   上月库存余量   15036 non-null  float64
 9   当月实际需求量  15036 non-null  float64
dtypes: float64(4), int64(5), object(1)
memory usage: 1.3+ MB

In [30]:
df_3.describe()

,工厂编码,物料编码,物料品牌,物料类型,物料品类,需求量,库存量,上月库存余量,当月实际需求量
count,15036.000000,15036.000000,15036.000000,15036.000000,15036.000000,15036.00000,15036.000000,15036.000000,15036.000000
mean,2006.478119,1084.422785,5002.871309,3002.032256,4010.766627,154.19150,34.664935,33.601423,153.127989
std,4.609758,69.337461,3.631496,0.804764,5.945658,373.99182,84.409341,83.416918,372.300327
min,2000.000000,1000.000000,5000.000000,3000.000000,4000.000000,0.02000,0.000000,0.000000,-2.590000
25%,2002.000000,1037.000000,5001.000000,3002.000000,4006.000000,9.00000,1.897500,1.510000,9.080000
50%,2006.000000,1053.000000,5001.000000,3002.000000,4010.000000,38.00500,8.485000,7.730000,37.915000
75%,2011.000000,1125.000000,5002.000000,3002.000000,4014.000000,133.06000,29.852500,28.792500,131.897500
max,2015.000000,1297.000000,5012.000000,3004.000000,4023.000000,5547.52000,1270.690000,1270.690000,5612.570000

In [33]:
import lightgbm

In [34]:
lightgbm??

###  初步撸一个模型，看下成绩

In [35]:
import pandas as pd
import numpy as np
import warnings
import os
import seaborn as sns
import matplotlib.pyplot as plt
from lightgbm import LGBMRegressor

In [36]:
df_3.head()

   工厂编码  物料编码  物料品牌  物料类型  物料品类     过账日期_汇总    需求量   库存量  上月库存余量  当月实际需求量
0  2000  1001  5000  3002  4006  2018-01-24  12.53  2.71    0.00     9.82
1  2000  1001  5000  3002  4006  2018-02-24  16.08  4.25    2.71    14.54
2  2000  1001  5000  3002  4006  2018-03-24   4.71  0.98    4.25     7.98
3  2000  1001  5000  3002  4006  2018-04-24  12.70  3.86    0.98     9.82
4  2000  1001  5000  3002  4006  2018-05-24  12.96  1.69    3.86    15.13

In [37]:
df_3['过账日期_汇总'].unique()

array(['2018-01-24', '2018-02-24', '2018-03-24', '2018-04-24',
       '2018-05-24', '2018-06-24', '2018-07-24', '2018-08-24',
       '2018-09-24', '2018-10-24', '2018-11-24', '2018-12-24',
       '2019-01-24', '2019-02-24', '2019-03-24', '2019-04-24',
       '2019-05-24', '2019-06-24', '2019-07-24', '2019-08-24',
       '2019-09-24', '2019-10-24', '2019-11-24', '2019-12-24',
       '2020-01-24', '2020-02-24', '2020-03-24', '2020-04-24',
       '2020-05-24', '2020-06-24', '2020-07-24', '2020-08-24',
       '2020-09-24', '2020-10-24', '2020-11-24'], dtype=object)

In [56]:
df_3['过账日期_汇总'].nunique()

35

In [41]:
df_3.shape

(15036, 10)

In [127]:
data = df_3.copy()

In [ ]:
"""
当前思路：
工厂编码 + 物料编码，然后 one_hot
过账日期_汇总:作为时间维度
只预测：当月实际需求量，再还原

"""

In [128]:
data['工厂编码'] = data['工厂编码'].astype('str')
data['物料编码'] = data['物料编码'].astype('str')

data['code'] = data['工厂编码'] + data['物料编码'] 
data = data[['code','过账日期_汇总','当月实际需求量']]
data.rename(columns={'过账日期_汇总':'time','当月实际需求量':'need'}, inplace=True)

# 先把，年，月，作为特征提取出来。
data['year'] = data['time'].apply(lambda x:x[:4])
data['month'] = data['time'].apply(lambda x:int(x[5:7]))

In [129]:
data

           code        time   need  year  month
0      20001001  2018-01-24   9.82  2018      1
1      20001001  2018-02-24  14.54  2018      2
2      20001001  2018-03-24   7.98  2018      3
3      20001001  2018-04-24   9.82  2018      4
4      20001001  2018-05-24  15.13  2018      5
...         ...         ...    ...   ...    ...
15031  20151253  2020-09-24  17.64  2020      9
15032  20151253  2020-10-24  16.33  2020     10
15033  20151253  2020-11-24  26.17  2020     11
15034  20151255  2020-03-24  32.29  2020      3
15035  20151255  2020-04-24  44.73  2020      4

[15036 rows x 5 columns]

###  稀疏，主要是这里稀疏，有啥好的解决方法吗？

每一种code，定义为 50 维度，进行embedding。

问题是，怎么训练这个 embedding? 随机初始化，然后放进模型里面吗？

In [144]:
data_1 = pd.concat((data, pd.get_dummies(data['code'])), axis=1)
data_1.drop(columns=['code'], inplace=True)
data_1

,time,need,year,month,20001001,20001003,20001006,20001010,20001014,20001019,...,20151088,20151089,20151090,20151091,20151114,20151117,20151120,20151252,20151253,20151255
0,2018-01-24,9.82,2018,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2018-02-24,14.54,2018,2,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2018-03-24,7.98,2018,3,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2018-04-24,9.82,2018,4,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2018-05-24,15.13,2018,5,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15031,2020-09-24,17.64,2020,9,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
15032,2020-10-24,16.33,2020,10,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
15033,2020-11-24,26.17,2020,11,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
15034,2020-03-24,32.29,2020,3,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
15035,2020-04-24,44.73,2020,4,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [145]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
data_1['year'] = le.fit_transform(data_1['year'])
data_1

,time,need,year,month,20001001,20001003,20001006,20001010,20001014,20001019,...,20151088,20151089,20151090,20151091,20151114,20151117,20151120,20151252,20151253,20151255
0,2018-01-24,9.82,0,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2018-02-24,14.54,0,2,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2018-03-24,7.98,0,3,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2018-04-24,9.82,0,4,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2018-05-24,15.13,0,5,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15031,2020-09-24,17.64,2,9,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
15032,2020-10-24,16.33,2,10,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
15033,2020-11-24,26.17,2,11,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
15034,2020-03-24,32.29,2,3,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
15035,2020-04-24,44.73,2,4,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [146]:
test = data_1[data_1['time'].isin(['2020-09-24', '2020-10-24', '2020-11-24'])].reset_index(drop=True)
train = data_1[~data_1['time'].isin(['2020-09-24', '2020-10-24', '2020-11-24'])].reset_index(drop=True)
train.shape , test.shape

((13752, 966), (1284, 966))

In [116]:
# train.groupby(['code']).size().reset_index().sort_values(by=[0])[0].value_counts()

### cnt不能加，加了之后就不是同分布了

In [120]:
# train = pd.merge(train, train.groupby(['code']).size().reset_index().rename(columns={0:'cnt'}) , how='left')
# 
# test = pd.merge(test, test.groupby(['code']).size().reset_index().rename(columns={0:'cnt'}) , how='left')

In [147]:
train.drop(columns=['time'], inplace=True)
test.drop(columns=['time'], inplace=True)

In [149]:
train_y = train['need']
train_x = train.drop(columns=['need'])
train_x

,year,month,20001001,20001003,20001006,20001010,20001014,20001019,20001020,20001021,...,20151088,20151089,20151090,20151091,20151114,20151117,20151120,20151252,20151253,20151255
0,0,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,2,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,3,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,4,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,5,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13747,2,7,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
13748,2,8,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
13749,2,8,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
13750,2,3,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
13751,2,4,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [150]:
test_y = test['need']
test_x = test.drop(columns=['need'])
test_x

,year,month,20001001,20001003,20001006,20001010,20001014,20001019,20001020,20001021,...,20151088,20151089,20151090,20151091,20151114,20151117,20151120,20151252,20151253,20151255
0,2,9,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,10,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2,11,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2,9,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2,10,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1279,2,10,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1280,2,11,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1281,2,9,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1282,2,10,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1283,2,11,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [154]:
LGBMRegressor.fit??

In [167]:
train_y.mean()

146.66579195753388

In [229]:
params = {
                'boosting_type': 'gbdt',
                'learning_rate': 0.01,
                'num_leaves': 29,
                'max_depth': 7,
                'min_data_in_leaf':45,
                'min_child_weight':0.01,
                'bagging_fraction': 0.9,
                'feature_fraction': 0.9,
                'bagging_freq': 40,
                'min_split_gain': 0,
                'reg_lambda':0,
                'reg_alpha':0,
                'nthread': 6
               }

model = LGBMRegressor(**params)
# model.fit(train_x,train_y)
b = model.fit(train_x, train_y)
# a = model.predict(test_x)
# a
b

LGBMRegressor(bagging_fraction=0.9, bagging_freq=40, feature_fraction=0.9,
              learning_rate=0.01, max_depth=7, min_child_weight=0.01,
              min_data_in_leaf=45, min_split_gain=0, nthread=6, num_leaves=29,
              reg_alpha=0, reg_lambda=0)

In [172]:
test_y

0         1.52
1         3.83
2         7.57
3        89.49
4       132.55
         ...
1279     17.20
1280     31.72
1281     17.64
1282     16.33
1283     26.17
Name: need, Length: 1284, dtype: float64

In [173]:
from sklearn.metrics import mean_absolute_error, mean_squared_error,mean_absolute_percentage_error

In [186]:
mean_absolute_error(test_y, a)

224.63605088985022

In [187]:
mean_squared_error(test_y, a)

258129.79700472142

In [188]:
mean_absolute_percentage_error(test_y, a)

17.28202054310853

###  94% 都错误！

### 调参看下

In [208]:
lgb.LGBMRegressor??

In [242]:
from sklearn.model_selection import cross_val_score
import lightgbm as lgb

"""定义优化函数"""
def rf_lgb(num_leaves, max_depth, bagging_fraction, feature_fraction, bagging_freq, min_data_in_leaf, 
              min_child_weight, min_split_gain, reg_lambda, reg_alpha):
    # 建立模型
    model_lgb = lgb.LGBMRegressor(boosting_type='gbdt', bjective='mape', metric='mean_absolute_error',
                                   learning_rate=0.1, n_estimators=5000,
                                   num_leaves=int(num_leaves), max_depth=int(max_depth), 
                                   bagging_fraction=round(bagging_fraction, 2), feature_fraction=round(feature_fraction, 2),
                                   bagging_freq=int(bagging_freq), min_data_in_leaf=int(min_data_in_leaf),
                                   min_child_weight=min_child_weight, min_split_gain=min_split_gain,
                                   reg_lambda=reg_lambda, reg_alpha=reg_alpha,
                                   n_jobs= 8
                                  )
    
    val = cross_val_score(model_lgb, train_x, train_y, cv=3, scoring = 'neg_mean_absolute_percentage_error').mean()
    
    return val

In [235]:
# cross_val_score??

In [225]:
# cross_val_score??

In [244]:
import warnings
warnings.filterwarnings('ignore')

In [245]:
from bayes_opt import BayesianOptimization
"""定义优化参数"""
bayes_lgb = BayesianOptimization(
    rf_lgb, 
    {
        'num_leaves':(10, 2000),
        'max_depth':(3, 90),
        'bagging_fraction':(0.5, 1.0),
        'feature_fraction':(0.5, 1.0),
        'bagging_freq':(0, 100),
        'min_data_in_leaf':(10,100),
        'min_child_weight':(0, 10),
        'min_split_gain':(0.0, 1.0),
        'reg_alpha':(0.0, 10),
        'reg_lambda':(0.0, 10),
    }
)

"""开始优化"""
bayes_lgb.maximize(n_iter=10)

|   iter    |  target   | baggin... | baggin... | featur... | max_depth | min_ch... | min_da... | min_sp... | num_le... | reg_alpha | reg_la... |
-------------------------------------------------------------------------------------------------------------------------------------------------
[LightGBM] [Warning] Unknown parameter: bjective
[LightGBM] [Warning] feature_fraction is set=0.61, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.61
[LightGBM] [Warning] min_data_in_leaf is set=48, min_child_samples=20 will be ignored. Current value: min_data_in_leaf=48
[LightGBM] [Warning] bagging_fraction is set=0.65, subsample=1.0 will be ignored. Current value: bagging_fraction=0.65
[LightGBM] [Warning] bagging_freq is set=14, subsample_freq=0 will be ignored. Current value: bagging_freq=14
[LightGBM] [Warning] Unknown parameter: bjective
[LightGBM] [Warning] feature_fraction is set=0.61, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.61
[LightGBM] [Warning] min_data_in_leaf is set=48, min_child_samples=20 will be ignored. Current value: min_data_in_leaf=48
[LightGBM] [Warning] bagging_fraction is set=0.65, subsample=1.0 will be ignored. Current value: bagging_fraction=0.65
[LightGBM] [Warning] bagging_freq is set=14, subsample_freq=0 will be ignored. Current value: bagging_freq=14
[LightGBM] [Warning] Unknown parameter: bjective
[LightGBM] [Warning] feature_fraction is set=0.61, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.61
[LightGBM] [Warning] min_data_in_leaf is set=48, min_child_samples=20 will be ignored. Current value: min_data_in_leaf=48
[LightGBM] [Warning] bagging_fraction is set=0.65, subsample=1.0 will be ignored. Current value: bagging_fraction=0.65
[LightGBM] [Warning] bagging_freq is set=14, subsample_freq=0 will be ignored. Current value: bagging_freq=14
|  1        | -9.305e+1 |  0.6547   |  14.93    |  0.6119   |  54.47    |  1.704    |  48.24    |  0.1307   |  324.5    |  5.357    |  1.512    |
[LightGBM] [Warning] Unknown parameter: bjective
[LightGBM] [Warning] feature_fraction is set=0.57, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.57
[LightGBM] [Warning] min_data_in_leaf is set=79, min_child_samples=20 will be ignored. Current value: min_data_in_leaf=79
[LightGBM] [Warning] bagging_fraction is set=0.79, subsample=1.0 will be ignored. Current value: bagging_fraction=0.79
[LightGBM] [Warning] bagging_freq is set=81, subsample_freq=0 will be ignored. Current value: bagging_freq=81
[LightGBM] [Warning] Unknown parameter: bjective
[LightGBM] [Warning] feature_fraction is set=0.57, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.57
[LightGBM] [Warning] min_data_in_leaf is set=79, min_child_samples=20 will be ignored. Current value: min_data_in_leaf=79
[LightGBM] [Warning] bagging_fraction is set=0.79, subsample=1.0 will be ignored. Current value: bagging_fraction=0.79
[LightGBM] [Warning] bagging_freq is set=81, subsample_freq=0 will be ignored. Current value: bagging_freq=81
[LightGBM] [Warning] Unknown parameter: bjective
[LightGBM] [Warning] feature_fraction is set=0.57, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.57
[LightGBM] [Warning] min_data_in_leaf is set=79, min_child_samples=20 will be ignored. Current value: min_data_in_leaf=79
[LightGBM] [Warning] bagging_fraction is set=0.79, subsample=1.0 will be ignored. Current value: bagging_fraction=0.79
[LightGBM] [Warning] bagging_freq is set=81, subsample_freq=0 will be ignored. Current value: bagging_freq=81
|  2        | -9.174e+1 |  0.7949   |  81.91    |  0.5717   |  81.55    |  0.639    |  79.96    |  0.1935   |  703.4    |  7.717    |  7.491    |
[LightGBM] [Warning] Unknown parameter: bjective
[LightGBM] [Warning] feature_fraction is set=0.54, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.54
[LightGBM] [Warning] min_data_in_leaf is set=56, min_child_samples=20 will be ignored. Current value: min_data_in_leaf=56
[LightGBM] [Warning] bagging_fraction is set=0.96, subsample=1.0 will be ignored. Current value: bagging_fraction=0.96
[LightGBM] [Warning] bagging_freq is set=78, subsample_freq=0 will be ignored. Current value: bagging_freq=78
[LightGBM] [Warning] Unknown parameter: bjective
[LightGBM] [Warning] feature_fraction is set=0.54, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.54
[LightGBM] [Warning] min_data_in_leaf is set=56, min_child_samples=20 will be ignored. Current value: min_data_in_leaf=56
[LightGBM] [Warning] bagging_fraction is set=0.96, subsample=1.0 will be ignored. Current value: bagging_fraction=0.96
[LightGBM] [Warning] bagging_freq is set=78, subsample_freq=0 will be ignored. Current value: bagging_freq=78
[LightGBM] [Warning] Unknown parameter: bjective
[LightGBM] [Warning] feature_fraction is set=0.54, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.54
[LightGBM] [Warning] min_data_in_leaf is set=56, min_child_samples=20 will be ignored. Current value: min_data_in_leaf=56
[LightGBM] [Warning] bagging_fraction is set=0.96, subsample=1.0 will be ignored. Current value: bagging_fraction=0.96
[LightGBM] [Warning] bagging_freq is set=78, subsample_freq=0 will be ignored. Current value: bagging_freq=78
|  3        | -9.071e+1 |  0.9607   |  78.68    |  0.5391   |  29.92    |  4.263    |  56.43    |  0.8892   |  166.8    |  1.715    |  0.1709   |
[LightGBM] [Warning] Unknown parameter: bjective
[LightGBM] [Warning] feature_fraction is set=0.65, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.65
[LightGBM] [Warning] min_data_in_leaf is set=17, min_child_samples=20 will be ignored. Current value: min_data_in_leaf=17
[LightGBM] [Warning] bagging_fraction is set=0.53, subsample=1.0 will be ignored. Current value: bagging_fraction=0.53
[LightGBM] [Warning] bagging_freq is set=1, subsample_freq=0 will be ignored. Current value: bagging_freq=1
[LightGBM] [Warning] Unknown parameter: bjective
[LightGBM] [Warning] feature_fraction is set=0.65, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.65
[LightGBM] [Warning] min_data_in_leaf is set=17, min_child_samples=20 will be ignored. Current value: min_data_in_leaf=17
[LightGBM] [Warning] bagging_fraction is set=0.53, subsample=1.0 will be ignored. Current value: bagging_fraction=0.53
[LightGBM] [Warning] bagging_freq is set=1, subsample_freq=0 will be ignored. Current value: bagging_freq=1
[LightGBM] [Warning] Unknown parameter: bjective
[LightGBM] [Warning] feature_fraction is set=0.65, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.65
[LightGBM] [Warning] min_data_in_leaf is set=17, min_child_samples=20 will be ignored. Current value: min_data_in_leaf=17
[LightGBM] [Warning] bagging_fraction is set=0.53, subsample=1.0 will be ignored. Current value: bagging_fraction=0.53
[LightGBM] [Warning] bagging_freq is set=1, subsample_freq=0 will be ignored. Current value: bagging_freq=1
|  4        | -1.726e+1 |  0.5289   |  1.45     |  0.6495   |  14.18    |  7.616    |  17.7     |  0.7047   |  95.89    |  0.6913   |  9.245    |
[LightGBM] [Warning] Unknown parameter: bjective
[LightGBM] [Warning] feature_fraction is set=0.94, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.94
[LightGBM] [Warning] min_data_in_leaf is set=84, min_child_samples=20 will be ignored. Current value: min_data_in_leaf=84
[LightGBM] [Warning] bagging_fraction is set=0.61, subsample=1.0 will be ignored. Current value: bagging_fraction=0.61
[LightGBM] [Warning] bagging_freq is set=71, subsample_freq=0 will be ignored. Current value: bagging_freq=71
[LightGBM] [Warning] Unknown parameter: bjective
[LightGBM] [Warning] feature_fraction is set=0.94, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.94
[LightGBM] [Warning] min_data_in_leaf is set=84, min_child_samples=20 will be ignored. Current value: min_data_in_leaf=84
[LightGBM] [Warning] bagging_fraction is set=0.61, subsample=1.0 will be ignored. Current value: bagging_fraction=0.61
[LightGBM] [Warning] bagging_freq is set=71, subsample_freq=0 will be ignored. Current value: bagging_freq=71

[LightGBM] [Warning] Unknown parameter: bjective
[LightGBM] [Warning] feature_fraction is set=0.94, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.94
[LightGBM] [Warning] min_data_in_leaf is set=84, min_child_samples=20 will be ignored. Current value: min_data_in_leaf=84
[LightGBM] [Warning] bagging_fraction is set=0.61, subsample=1.0 will be ignored. Current value: bagging_fraction=0.61
[LightGBM] [Warning] bagging_freq is set=71, subsample_freq=0 will be ignored. Current value: bagging_freq=71
|  5        | -8.538e+1 |  0.6058   |  71.39    |  0.9367   |  28.28    |  8.247    |  84.96    |  0.5479   |  1.473e+0 |  5.003    |  3.296    |
[LightGBM] [Warning] Unknown parameter: bjective
[LightGBM] [Warning] feature_fraction is set=0.65, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.65
[LightGBM] [Warning] min_data_in_leaf is set=15, min_child_samples=20 will be ignored. Current value: min_data_in_leaf=15
[LightGBM] [Warning] bagging_fraction is set=0.89, subsample=1.0 will be ignored. Current value: bagging_fraction=0.89
[LightGBM] [Warning] bagging_freq is set=10, subsample_freq=0 will be ignored. Current value: bagging_freq=10
[LightGBM] [Warning] Unknown parameter: bjective
[LightGBM] [Warning] feature_fraction is set=0.65, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.65
[LightGBM] [Warning] min_data_in_leaf is set=15, min_child_samples=20 will be ignored. Current value: min_data_in_leaf=15
[LightGBM] [Warning] bagging_fraction is set=0.89, subsample=1.0 will be ignored. Current value: bagging_fraction=0.89
[LightGBM] [Warning] bagging_freq is set=10, subsample_freq=0 will be ignored. Current value: bagging_freq=10
[LightGBM] [Warning] Unknown parameter: bjective
[LightGBM] [Warning] feature_fraction is set=0.65, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.65
[LightGBM] [Warning] min_data_in_leaf is set=15, min_child_samples=20 will be ignored. Current value: min_data_in_leaf=15
[LightGBM] [Warning] bagging_fraction is set=0.89, subsample=1.0 will be ignored. Current value: bagging_fraction=0.89
[LightGBM] [Warning] bagging_freq is set=10, subsample_freq=0 will be ignored. Current value: bagging_freq=10
|  6        | -1.957e+1 |  0.8929   |  10.44    |  0.6502   |  14.24    |  5.624    |  15.56    |  0.9966   |  103.5    |  7.008    |  9.594    |
[LightGBM] [Warning] Unknown parameter: bjective
[LightGBM] [Warning] feature_fraction is set=1.0, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=1.0
[LightGBM] [Warning] min_data_in_leaf is set=10, min_child_samples=20 will be ignored. Current value: min_data_in_leaf=10
[LightGBM] [Warning] bagging_fraction is set=1.0, subsample=1.0 will be ignored. Current value: bagging_fraction=1.0
[LightGBM] [Warning] bagging_freq is set=28, subsample_freq=0 will be ignored. Current value: bagging_freq=28
[LightGBM] [Warning] Unknown parameter: bjective
[LightGBM] [Warning] feature_fraction is set=1.0, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=1.0
[LightGBM] [Warning] min_data_in_leaf is set=10, min_child_samples=20 will be ignored. Current value: min_data_in_leaf=10
[LightGBM] [Warning] bagging_fraction is set=1.0, subsample=1.0 will be ignored. Current value: bagging_fraction=1.0
[LightGBM] [Warning] bagging_freq is set=28, subsample_freq=0 will be ignored. Current value: bagging_freq=28
[LightGBM] [Warning] Unknown parameter: bjective
[LightGBM] [Warning] feature_fraction is set=1.0, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=1.0
[LightGBM] [Warning] min_data_in_leaf is set=10, min_child_samples=20 will be ignored. Current value: min_data_in_leaf=10
[LightGBM] [Warning] bagging_fraction is set=1.0, subsample=1.0 will be ignored. Current value: bagging_fraction=1.0
[LightGBM] [Warning] bagging_freq is set=28, subsample_freq=0 will be ignored. Current value: bagging_freq=28
|  7        | -2.038e+1 |  1.0      |  28.19    |  1.0      |  3.0      |  0.0      |  10.0     |  1.0      |  18.92    |  10.0     |  10.0     |
[LightGBM] [Warning] Unknown parameter: bjective
[LightGBM] [Warning] feature_fraction is set=0.5, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.5
[LightGBM] [Warning] min_data_in_leaf is set=10, min_child_samples=20 will be ignored. Current value: min_data_in_leaf=10
[LightGBM] [Warning] bagging_fraction is set=1.0, subsample=1.0 will be ignored. Current value: bagging_fraction=1.0
[LightGBM] [Warning] bagging_freq is set=0, subsample_freq=0 will be ignored. Current value: bagging_freq=0
[LightGBM] [Warning] Unknown parameter: bjective
[LightGBM] [Warning] feature_fraction is set=0.5, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.5
[LightGBM] [Warning] min_data_in_leaf is set=10, min_child_samples=20 will be ignored. Current value: min_data_in_leaf=10
[LightGBM] [Warning] bagging_fraction is set=1.0, subsample=1.0 will be ignored. Current value: bagging_fraction=1.0
[LightGBM] [Warning] bagging_freq is set=0, subsample_freq=0 will be ignored. Current value: bagging_freq=0
[LightGBM] [Warning] Unknown parameter: bjective
[LightGBM] [Warning] feature_fraction is set=0.5, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.5
[LightGBM] [Warning] min_data_in_leaf is set=10, min_child_samples=20 will be ignored. Current value: min_data_in_leaf=10
[LightGBM] [Warning] bagging_fraction is set=1.0, subsample=1.0 will be ignored. Current value: bagging_fraction=1.0
[LightGBM] [Warning] bagging_freq is set=0, subsample_freq=0 will be ignored. Current value: bagging_freq=0
|  8        | -2.269e+1 |  1.0      |  0.0      |  0.5      |  90.0     |  10.0     |  10.0     |  1.0      |  29.73    |  10.0     |  10.0     |
[LightGBM] [Warning] Unknown parameter: bjective
[LightGBM] [Warning] feature_fraction is set=0.59, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.59
[LightGBM] [Warning] min_data_in_leaf is set=21, min_child_samples=20 will be ignored. Current value: min_data_in_leaf=21
[LightGBM] [Warning] bagging_fraction is set=1.0, subsample=1.0 will be ignored. Current value: bagging_fraction=1.0
[LightGBM] [Warning] bagging_freq is set=14, subsample_freq=0 will be ignored. Current value: bagging_freq=14
[LightGBM] [Warning] Unknown parameter: bjective
[LightGBM] [Warning] feature_fraction is set=0.59, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.59
[LightGBM] [Warning] min_data_in_leaf is set=21, min_child_samples=20 will be ignored. Current value: min_data_in_leaf=21
[LightGBM] [Warning] bagging_fraction is set=1.0, subsample=1.0 will be ignored. Current value: bagging_fraction=1.0
[LightGBM] [Warning] bagging_freq is set=14, subsample_freq=0 will be ignored. Current value: bagging_freq=14
[LightGBM] [Warning] Unknown parameter: bjective
[LightGBM] [Warning] feature_fraction is set=0.59, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.59
[LightGBM] [Warning] min_data_in_leaf is set=21, min_child_samples=20 will be ignored. Current value: min_data_in_leaf=21
[LightGBM] [Warning] bagging_fraction is set=1.0, subsample=1.0 will be ignored. Current value: bagging_fraction=1.0
[LightGBM] [Warning] bagging_freq is set=14, subsample_freq=0 will be ignored. Current value: bagging_freq=14
|  9        | -1.976e+1 |  0.9977   |  14.76    |  0.5929   |  7.647    |  0.886    |  21.98    |  0.1483   |  108.1    |  8.193    |  4.114    |
[LightGBM] [Warning] Unknown parameter: bjective
[LightGBM] [Warning] feature_fraction is set=1.0, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=1.0
[LightGBM] [Warning] min_data_in_leaf is set=10, min_child_samples=20 will be ignored. Current value: min_data_in_leaf=10
[LightGBM] [Warning] bagging_fraction is set=1.0, subsample=1.0 will be ignored. Current value: bagging_fraction=1.0
[LightGBM] [Warning] bagging_freq is set=0, subsample_freq=0 will be ignored. Current value: bagging_freq=0

[LightGBM] [Warning] Unknown parameter: bjective
[LightGBM] [Warning] feature_fraction is set=1.0, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=1.0
[LightGBM] [Warning] min_data_in_leaf is set=10, min_child_samples=20 will be ignored. Current value: min_data_in_leaf=10
[LightGBM] [Warning] bagging_fraction is set=1.0, subsample=1.0 will be ignored. Current value: bagging_fraction=1.0
[LightGBM] [Warning] bagging_freq is set=0, subsample_freq=0 will be ignored. Current value: bagging_freq=0
[LightGBM] [Warning] Unknown parameter: bjective
[LightGBM] [Warning] feature_fraction is set=1.0, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=1.0
[LightGBM] [Warning] min_data_in_leaf is set=10, min_child_samples=20 will be ignored. Current value: min_data_in_leaf=10
[LightGBM] [Warning] bagging_fraction is set=1.0, subsample=1.0 will be ignored. Current value: bagging_fraction=1.0
[LightGBM] [Warning] bagging_freq is set=0, subsample_freq=0 will be ignored. Current value: bagging_freq=0
|  10       | -2.607e+1 |  1.0      |  0.0      |  1.0      |  90.0     |  10.0     |  10.0     |  1.0      |  2e+03    |  0.0      |  0.0      |
[LightGBM] [Warning] Unknown parameter: bjective
[LightGBM] [Warning] feature_fraction is set=0.97, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.97
[LightGBM] [Warning] min_data_in_leaf is set=22, min_child_samples=20 will be ignored. Current value: min_data_in_leaf=22
[LightGBM] [Warning] bagging_fraction is set=0.81, subsample=1.0 will be ignored. Current value: bagging_fraction=0.81
[LightGBM] [Warning] bagging_freq is set=8, subsample_freq=0 will be ignored. Current value: bagging_freq=8
[LightGBM] [Warning] Unknown parameter: bjective
[LightGBM] [Warning] feature_fraction is set=0.97, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.97
[LightGBM] [Warning] min_data_in_leaf is set=22, min_child_samples=20 will be ignored. Current value: min_data_in_leaf=22
[LightGBM] [Warning] bagging_fraction is set=0.81, subsample=1.0 will be ignored. Current value: bagging_fraction=0.81
[LightGBM] [Warning] bagging_freq is set=8, subsample_freq=0 will be ignored. Current value: bagging_freq=8
[LightGBM] [Warning] Unknown parameter: bjective
[LightGBM] [Warning] feature_fraction is set=0.97, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.97
[LightGBM] [Warning] min_data_in_leaf is set=22, min_child_samples=20 will be ignored. Current value: min_data_in_leaf=22
[LightGBM] [Warning] bagging_fraction is set=0.81, subsample=1.0 will be ignored. Current value: bagging_fraction=0.81
[LightGBM] [Warning] bagging_freq is set=8, subsample_freq=0 will be ignored. Current value: bagging_freq=8
|  11       | -1.54e+13 |  0.8055   |  8.766    |  0.9653   |  11.66    |  0.978    |  22.61    |  0.1644   |  94.46    |  4.846    |  4.79     |
[LightGBM] [Warning] Unknown parameter: bjective
[LightGBM] [Warning] feature_fraction is set=0.52, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.52
[LightGBM] [Warning] min_data_in_leaf is set=79, min_child_samples=20 will be ignored. Current value: min_data_in_leaf=79
[LightGBM] [Warning] bagging_fraction is set=0.99, subsample=1.0 will be ignored. Current value: bagging_fraction=0.99
[LightGBM] [Warning] bagging_freq is set=91, subsample_freq=0 will be ignored. Current value: bagging_freq=91
[LightGBM] [Warning] Unknown parameter: bjective
[LightGBM] [Warning] feature_fraction is set=0.52, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.52
[LightGBM] [Warning] min_data_in_leaf is set=79, min_child_samples=20 will be ignored. Current value: min_data_in_leaf=79
[LightGBM] [Warning] bagging_fraction is set=0.99, subsample=1.0 will be ignored. Current value: bagging_fraction=0.99
[LightGBM] [Warning] bagging_freq is set=91, subsample_freq=0 will be ignored. Current value: bagging_freq=91
[LightGBM] [Warning] Unknown parameter: bjective
[LightGBM] [Warning] feature_fraction is set=0.52, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.52
[LightGBM] [Warning] min_data_in_leaf is set=79, min_child_samples=20 will be ignored. Current value: min_data_in_leaf=79
[LightGBM] [Warning] bagging_fraction is set=0.99, subsample=1.0 will be ignored. Current value: bagging_fraction=0.99
[LightGBM] [Warning] bagging_freq is set=91, subsample_freq=0 will be ignored. Current value: bagging_freq=91
|  12       | -9.156e+1 |  0.9864   |  91.98    |  0.5186   |  4.411    |  1.483    |  79.72    |  0.5903   |  1.884e+0 |  8.064    |  2.947    |
[LightGBM] [Warning] Unknown parameter: bjective
[LightGBM] [Warning] feature_fraction is set=0.94, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.94
[LightGBM] [Warning] min_data_in_leaf is set=14, min_child_samples=20 will be ignored. Current value: min_data_in_leaf=14
[LightGBM] [Warning] bagging_fraction is set=0.58, subsample=1.0 will be ignored. Current value: bagging_fraction=0.58
[LightGBM] [Warning] bagging_freq is set=17, subsample_freq=0 will be ignored. Current value: bagging_freq=17
[LightGBM] [Warning] Unknown parameter: bjective
[LightGBM] [Warning] feature_fraction is set=0.94, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.94
[LightGBM] [Warning] min_data_in_leaf is set=14, min_child_samples=20 will be ignored. Current value: min_data_in_leaf=14
[LightGBM] [Warning] bagging_fraction is set=0.58, subsample=1.0 will be ignored. Current value: bagging_fraction=0.58
[LightGBM] [Warning] bagging_freq is set=17, subsample_freq=0 will be ignored. Current value: bagging_freq=17
[LightGBM] [Warning] Unknown parameter: bjective
[LightGBM] [Warning] feature_fraction is set=0.94, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.94
[LightGBM] [Warning] min_data_in_leaf is set=14, min_child_samples=20 will be ignored. Current value: min_data_in_leaf=14
[LightGBM] [Warning] bagging_fraction is set=0.58, subsample=1.0 will be ignored. Current value: bagging_fraction=0.58
[LightGBM] [Warning] bagging_freq is set=17, subsample_freq=0 will be ignored. Current value: bagging_freq=17
|  13       | -1.815e+1 |  0.5819   |  17.49    |  0.9398   |  4.241    |  4.101    |  14.1     |  0.5547   |  114.9    |  4.622    |  0.7246   |
[LightGBM] [Warning] Unknown parameter: bjective
[LightGBM] [Warning] feature_fraction is set=0.5, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.5
[LightGBM] [Warning] min_data_in_leaf is set=10, min_child_samples=20 will be ignored. Current value: min_data_in_leaf=10
[LightGBM] [Warning] bagging_fraction is set=1.0, subsample=1.0 will be ignored. Current value: bagging_fraction=1.0
[LightGBM] [Warning] bagging_freq is set=0, subsample_freq=0 will be ignored. Current value: bagging_freq=0
[LightGBM] [Warning] Unknown parameter: bjective
[LightGBM] [Warning] feature_fraction is set=0.5, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.5
[LightGBM] [Warning] min_data_in_leaf is set=10, min_child_samples=20 will be ignored. Current value: min_data_in_leaf=10
[LightGBM] [Warning] bagging_fraction is set=1.0, subsample=1.0 will be ignored. Current value: bagging_fraction=1.0
[LightGBM] [Warning] bagging_freq is set=0, subsample_freq=0 will be ignored. Current value: bagging_freq=0
[LightGBM] [Warning] Unknown parameter: bjective
[LightGBM] [Warning] feature_fraction is set=0.5, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.5
[LightGBM] [Warning] min_data_in_leaf is set=10, min_child_samples=20 will be ignored. Current value: min_data_in_leaf=10
[LightGBM] [Warning] bagging_fraction is set=1.0, subsample=1.0 will be ignored. Current value: bagging_fraction=1.0
[LightGBM] [Warning] bagging_freq is set=0, subsample_freq=0 will be ignored. Current value: bagging_freq=0

|  14       | -1.727e+1 |  1.0      |  0.0      |  0.5      |  3.0      |  10.0     |  10.0     |  0.0      |  1.089e+0 |  0.0      |  10.0     |
[LightGBM] [Warning] Unknown parameter: bjective
[LightGBM] [Warning] feature_fraction is set=0.68, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.68
[LightGBM] [Warning] min_data_in_leaf is set=94, min_child_samples=20 will be ignored. Current value: min_data_in_leaf=94
[LightGBM] [Warning] bagging_fraction is set=0.91, subsample=1.0 will be ignored. Current value: bagging_fraction=0.91
[LightGBM] [Warning] bagging_freq is set=93, subsample_freq=0 will be ignored. Current value: bagging_freq=93
[LightGBM] [Warning] Unknown parameter: bjective
[LightGBM] [Warning] feature_fraction is set=0.68, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.68
[LightGBM] [Warning] min_data_in_leaf is set=94, min_child_samples=20 will be ignored. Current value: min_data_in_leaf=94
[LightGBM] [Warning] bagging_fraction is set=0.91, subsample=1.0 will be ignored. Current value: bagging_fraction=0.91
[LightGBM] [Warning] bagging_freq is set=93, subsample_freq=0 will be ignored. Current value: bagging_freq=93
[LightGBM] [Warning] Unknown parameter: bjective
[LightGBM] [Warning] feature_fraction is set=0.68, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.68
[LightGBM] [Warning] min_data_in_leaf is set=94, min_child_samples=20 will be ignored. Current value: min_data_in_leaf=94
[LightGBM] [Warning] bagging_fraction is set=0.91, subsample=1.0 will be ignored. Current value: bagging_fraction=0.91
[LightGBM] [Warning] bagging_freq is set=93, subsample_freq=0 will be ignored. Current value: bagging_freq=93
|  15       | -9.115e+1 |  0.914    |  93.38    |  0.6753   |  89.5     |  1.35     |  94.05    |  0.3873   |  1.113e+0 |  8.9      |  0.711    |
=================================================================================================================================================

In [241]:
import sklearn

sorted(sklearn.metrics.SCORERS.keys())

['accuracy',
 'adjusted_mutual_info_score',
 'adjusted_rand_score',
 'average_precision',
 'balanced_accuracy',
 'completeness_score',
 'explained_variance',
 'f1',
 'f1_macro',
 'f1_micro',
 'f1_samples',
 'f1_weighted',
 'fowlkes_mallows_score',
 'homogeneity_score',
 'jaccard',
 'jaccard_macro',
 'jaccard_micro',
 'jaccard_samples',
 'jaccard_weighted',
 'max_error',
 'mutual_info_score',
 'neg_brier_score',
 'neg_log_loss',
 'neg_mean_absolute_error',
 'neg_mean_absolute_percentage_error',
 'neg_mean_gamma_deviance',
 'neg_mean_poisson_deviance',
 'neg_mean_squared_error',
 'neg_mean_squared_log_error',
 'neg_median_absolute_error',
 'neg_root_mean_squared_error',
 'normalized_mutual_info_score',
 'precision',
 'precision_macro',
 'precision_micro',
 'precision_samples',
 'precision_weighted',
 'r2',
 'rand_score',
 'recall',
 'recall_macro',
 'recall_micro',
 'recall_samples',
 'recall_weighted',
 'roc_auc',
 'roc_auc_ovo',
 'roc_auc_ovo_weighted',
 'roc_auc_ovr',
 'roc_auc_ovr_weighted',
 'top_k_accuracy',
 'v_measure_score']

In [247]:
"""显示优化结果"""
bayes_lgb.max

{'target': -15395383628158.299,
 'params': {'bagging_fraction': 0.8054749962736714,
  'bagging_freq': 8.765959744633534,
  'feature_fraction': 0.9652573159105017,
  'max_depth': 11.659136508969082,
  'min_child_weight': 0.977998240514375,
  'min_data_in_leaf': 22.605312546110707,
  'min_split_gain': 0.16438126394169494,
  'num_leaves': 94.46354969016961,
  'reg_alpha': 4.846324801012615,
  'reg_lambda': 4.789750457179388}}

In [234]:
bayes_lgb??

In [253]:
# MAE 参数  当前，最好的垃圾模型！

params = {'bagging_fraction': 0.9784635784803821,
'bagging_freq': 91,
'feature_fraction': 0.6180100091464835,
'max_depth': 46,
'min_child_weight': 9.445515600737806,
'min_data_in_leaf': 13,
'min_split_gain': 0.7036484088117406,
'num_leaves': 1985,
'reg_alpha': 3.2328166591334995,
'reg_lambda': 7.719747055436091}

In [248]:
# MAPE的参数， 这个方法的结果，要稍微好点


params = {'bagging_fraction': 0.5973624395623682,
'bagging_freq': 14,
'feature_fraction': 0.6064836130719775,
'max_depth': 71,
'min_child_weight': 4.536720233735652,
'min_data_in_leaf': 13,
'min_split_gain': 0.7897517027065785,
'num_leaves': 58,
'reg_alpha': 0.046336454725267595,
'reg_lambda': 0.08164851688648445}

In [258]:
# MAPE的参数， 测试，随时更新

params = {'bagging_fraction': 1.0,
'bagging_freq': 24,
'feature_fraction': 0.5705320214994557,
'max_depth': 79,
'min_child_weight': 3.0,
'min_data_in_leaf': 7,
'min_split_gain': 0.3955104704028838,
'num_leaves': 51,
'reg_alpha': 10.0,
'reg_lambda': 0.0}

In [259]:
model = LGBMRegressor(**params)
model.fit(train_x,train_y)
a = model.predict(test_x)
a

[LightGBM] [Warning] feature_fraction is set=0.5705320214994557, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.5705320214994557
[LightGBM] [Warning] min_data_in_leaf is set=7, min_child_samples=20 will be ignored. Current value: min_data_in_leaf=7
[LightGBM] [Warning] bagging_fraction is set=1.0, subsample=1.0 will be ignored. Current value: bagging_fraction=1.0
[LightGBM] [Warning] bagging_freq is set=24, subsample_freq=0 will be ignored. Current value: bagging_freq=24

array([50.37994675, 50.37994675, 50.37994675, ..., 54.24040737,
       54.24040737, 54.24040737])

In [260]:
mean_absolute_error(test_y, a)

102.28045226201539

In [261]:
mean_squared_error(test_y, a)

47051.806279619326

In [262]:
mean_absolute_percentage_error(test_y, a)

5.291249489632604